body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:28px;
  width:320px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:212px;
  top:42px;
  width:18px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:491px;
  top:36px;
  width:5px;
  height:5px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:491px;
  top:46px;
  width:5px;
  height:5px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:491px;
  top:56px;
  width:5px;
  height:5px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:255px;
  top:144px;
  width:210px;
  height:16px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:295px;
  top:210px;
  width:145px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:141px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:318px;
  top:390px;
  width:100px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:334px;
  top:350px;
  width:68px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:318px;
  top:470px;
  width:100px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:318px;
  top:430px;
  width:100px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:410px;
  top:90px;
  width:100px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:264px;
  top:322px;
  width:200px;
  height:58px;
  font-size:18px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:224px;
  top:186px;
  width:280px;
  height:330px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:330px;
}
#u31 {
  position:absolute;
  left:2px;
  top:157px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:248px;
  top:223px;
  width:100px;
  height:100px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u33 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:378px;
  top:223px;
  width:100px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:248px;
  top:373px;
  width:100px;
  height:100px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u37 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:378px;
  top:373px;
  width:100px;
  height:100px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u39 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:220px;
  top:232px;
  width:280px;
  height:237px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:237px;
}
#u41 {
  position:absolute;
  left:2px;
  top:110px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:242px;
  top:272px;
  width:240px;
  height:48px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:48px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:250px;
  top:382px;
  width:100px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:382px;
  top:382px;
  width:100px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:228px;
  top:223px;
  width:280px;
  height:237px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:237px;
}
#u49 {
  position:absolute;
  left:2px;
  top:110px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:250px;
  top:263px;
  width:240px;
  height:48px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:48px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:318px;
  top:381px;
  width:100px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:230px;
  top:260px;
  width:260px;
  height:140px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:140px;
}
#u55 {
  position:absolute;
  left:2px;
  top:62px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:250px;
  top:280px;
  width:220px;
  height:70px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:70px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:305px;
  top:360px;
  width:100px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:201px;
  top:72px;
  width:320px;
  height:498px;
  opacity:0.800000011920929;
  font-size:18px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:498px;
}
#u61 {
  position:absolute;
  left:2px;
  top:216px;
  width:316px;
  word-wrap:break-word;
}
